# Python cache
__pycache__/
*.py[cod]

# Virtual environments
env/
venv/
.venv/

# Flask
instance/
*.sqlite
*.db

# Logs
*.log
logs/

# Environment
.env

# OS
.DS_Store

# IDE
.idea/
.vscode/

# User uploads (ВАЖНО)
uploads/
static/uploads/
media/
